<div class="search-screen">

  <div class="search-header row">

    <div class="col-sm-8 title-column">
      <span class="search-title">Places</span>
      <span class="search-count">{{searchManager.searchResults.pagination.total}} Results</span>
      <div class="clearfix"></div>
      <button class="btn create-btn btn-primary" title="New Partner" ui-sref="index.secured.places.create"  aet-is-super-admin>
        <i class="icon-placepass-icons-pp-plus"></i> Create New Places
      </button>
    </div>

    <div class="col-sm-4 search-column">

      <div class="input-container form-group has-feedback">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Places"
                   ng-model="searchManager.query" ng-change="addFilter();searchManager.debouncedSearch()"
                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Places'">
            <span class="input-group-btn">
              <button ng-click="addFilter();searchManager.search()" class="btn btn-default" type="button">
                <i class="icon-placepass-icons-pp-search form-control-feedback"></i>
              </button>
            </span>
          </div>
      </div>

    </div>

  </div>

  <div class="row">

    <div class="col-sm-12">

      <div class="row">
        <div class="col-sm-12">
          <aet-search row-name="places" search-manager="searchManager">
            <aet-search-column label="Web Id" name="webId" searchable="true" sort="true"></aet-search-column>
            <aet-search-column label="Formatted Address" name="formattedAddress" searchable="true" sort="true"></aet-search-column>
            <aet-search-column label="City" name="city" searchable="true" sort="true"></aet-search-column>
			<aet-search-column label="Region" name="region" searchable="true" sort="true"></aet-search-column>
			<aet-search-column label="Country" name="country" searchable="true" sort="true"></aet-search-column>
			<aet-search-column label="Place Pass Region" name="placePassRegion" searchable="true" sort="true"></aet-search-column>
            <a aet-action-button class="hover-primary" ng-click="editPlaces(places)" title="edit" type="submit" aet-is-super-admin>
              <span class="icon-placepass-icons-pp-edit"></span>
            </a>
            <a aet-action-button class="hover-danger" ng-click="deletePlaces(places)" title="delete" type="submit" aet-is-super-admin>
              <span class="icon-placepass-icons-pp-remove"></span>
            </a>

          </aet-search>
        </div>
      </div>
    </div>

  </div>


</div>
