<div class="search-screen">

    <div class="search-header row">

        <div class="col-sm-8 title-column">
            <span class="search-title">Partner Configs</span>
            <span class="search-count">{{searchManager.searchResults.pagination.total}}
                Results</span>
            <div class="clearfix"></div>
            <button class="btn create-btn btn-primary" title="New Partner Config" ui-sref="index.secured.partnerConfig.create" aet-has-permission="ADD_PARTNER_CONFIG">
                <i class="icon-placepass-icons-pp-plus"></i>
                Create New Partner Config
            </button>
        </div>

        <div class="col-sm-4 search-column">

            <div class="input-container form-group has-feedback">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Partner Configs" ng-model="searchManager.query" ng-change="searchManager.debouncedSearch()" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Partner Configs'">
                    <span class="input-group-btn">
                        <button ng-click="searchManager.search()" class="btn btn-default" type="button">
                            <i class="icon-placepass-icons-pp-search form-control-feedback"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-sm-12">

            <div class="row">
                <div class="col-sm-12">
                    <aet-search row-name="partnerConfig" search-manager="searchManager">
                        <aet-search-column label="Id" name="id" searchable="true"></aet-search-column>
                        <aet-search-column label="Partner ID" name="partnerId" searchable="true" sort="true"></aet-search-column>
                        <aet-search-column label="Hero Title" name="hero.title"></aet-search-column>
                        <aet-search-column label="Featured Product IDs" name="featuredProductIds.toString()"></aet-search-column>
                        <a aet-action-button class="hover-primary" ng-click="editPartnerConfig(partnerConfig)" title="edit" type="submit" aet-has-permission="EDIT_PARTNER_CONFIG">
                            <span class="icon-placepass-icons-pp-edit"></span>
                        </a>
                        <a aet-action-button class="hover-danger" ng-click="deletePartnerConfig(partnerConfig)" title="delete" type="submit" aet-has-permission="DELETE_PARTNER_CONFIG">
                            <span class="icon-placepass-icons-pp-remove"></span>
                        </a>
                    </aet-search>
                </div>
            </div>
        </div>

    </div>

</div>
