<div class="modal-header">
  <h3 class="modal-title">Share Map</h3>
</div>
<div class="modal-body">
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <tabset>
          <tab disable="tab.disabled" heading="{{tab.title}}" ng-repeat="tab in tabs" select="setPage($index)"></tab>
        </tabset>
        <div aria-label="..." class="btn-group btn-group-justified" role="group">
          <div class="btn-group" role="group" ng-repeat="tab in tabs">
            <button class="btn btn-default" type="button" ng-click="setPage($index)" ng-disabled="tab.disabled">{{tab.title}}</button>
          </div>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div ng-show="page == 1">
          <div class="page1">
            <div class="row">
              <div class="col-md-12">
                <h4>Gather Insights on the Data Gathered in Your Map:</h4>
                <h4>Share Your Map with PartnerPlace Team Members or Subject Matter Experts (SMEs)</h4>
                <h4>To outline the most important considerations here:</h4>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h4>1. Make sure those you want to share the Map with are assigned to this Partner Place. This grants them access to view the entire Map.</h4>
                <h4>2. Make sure you are viewing the version of the map you want to share (Customer or Employee Map) when you click Share Map.</h4>
                <h4>3. Next you are going to define each Stage, Touchpoint or Action you want feedback on. Start by selecting the item. And then write accompanying instructions. This specific direction will help focus their review of your Mission collected data, comments and media uploads. (Select at least one stage, touchpoint or action that has data behind it.)</h4>
              </div>
            </div>
        </div>
        <div ng-show="page == 2">
          <h3>2</h3>
        </div>
        <div ng-show="page == 3">
          <h3>3</h3>
        </div>
        <div ng-show="page == 4">
          <h3>4</h3>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="change()" ng-disabled="channelForm.$invalid" type="button">Accept</button>
  <button class="btn btn-default" ng-click="cancel()" type="button">Cancel</button>
</div>
