<div class="password-reset-screen">
  <div class="panel panel-default password-reset-form">
    <div class="panel-heading">
      <div class="logo">
        <img alt="" src="assets/images/logo.png"/>
      </div>
    </div>
    <div class="panel-body">
      <form class="form-horizontal login-form" name="placepassResetPasswordForm" novalidate>
        <div class="form-group mar-b-15">
          <h4>Please set a new password</h4>
        </div>

        <input id="email" name="email" ng-model="resetPasswordDTO.email" type="hidden"/>
        <input id="token" name="token" ng-model="resetPasswordDTO.token" type="hidden"/>

        <div class="col-xs-12">
          <div class="form-group has-feedback mar-b-30" ng-class="{'has-error' : placepassResetPasswordForm.password.$showError && placepassResetPasswordForm.password.$hasError()}">
            <label for="password">Password</label>
            <input class="form-control"
                   id="password"
                   name="password"
                   ng-maxlength="20"
                   ng-minlength="6"
                   ng-model="resetPasswordDTO.password"
                   ng-pattern="/((?=.*[^a-zA-Z0-9])(?=.*[A-Z])(?=.*)).{6,20}/"
                   placeholder="Enter password here..."
                   required
                   type="password"/>
            <div class="error relative" ng-show="placepassResetPasswordForm.password.$showError">
              <p class="text-danger" ng-show="placepassResetPasswordForm.password.$error.required">Password is required.</p>
              <p class="text-danger" ng-show="placepassResetPasswordForm.password.$error.pattern">Password must be 6-20 characters, with at least 1 uppercase and 1 special character</p>
              <p class="text-danger" ng-show="placepassResetPasswordForm.password.$error.minlength">Password must be 6-20 characters long.</p>
              <p class="text-danger" ng-show="placepassResetPasswordForm.password.$error.maxlength">Password must be 6-20 characters long.</p>
            </div>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="form-group has-feedback mar-b-30" ng-class="{'has-error' : placepassResetPasswordForm.confirmPassword.$showError && placepassResetPasswordForm.confirmPassword.$hasError()}">
            <label for="confirmPassword">Confirm Password</label>
            <input aet-match="resetPasswordDTO.password"
                   class="form-control"
                   id="confirmPassword"
                   name="confirmPassword"
                   ng-model="resetPasswordDTO.confirmPassword"
                   placeholder="Confirm password"
                   required
                   type="password"/>
            <div class="error relative" ng-show="placepassResetPasswordForm.confirmPassword.$showError ">
              <p class="text-danger" ng-show="placepassResetPasswordForm.confirmPassword.$error.required">Confirm Password is required.</p>
              <p class="text-danger" ng-show="placepassResetPasswordForm.confirmPassword.$error.match">Passwords don't match.</p>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="form-group">
            <button class="btn btn-primary pull-right" ng-click="passwordReset()" ng-disabled="placepassResetPasswordForm.$invalid" type="submit">
              Reset Password
            </button>
            <div class="clearfix"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
