<div class="reset-password-account-notfound-screen">
	<div class="panel panel-default">
	    <div class="panel-heading">
	      <div class="logo">
	        <img src="assets/images/logo.png" alt=""/>
	      </div>
	    </div>
	    <div class="panel-body">
			<div class="row">
				<div class="form-group">
					<h4>Looks like there isn't an Place Pass Systems account associated with your email address.</h4>
					<h4>You can click <a ui-sref="login">here</a> to log in.</h4>
				</div>
			</div>
	    </div>
	 </div>
</div>