<div class="reset-password-fail-screen">
	<div class="panel panel-default">
	    <div class="panel-heading">
	      <div class="logo">
	        <img src="assets/images/logo.png" alt=""/>
	      </div>
	    </div>
	    <div class="panel-body">
			<div class="row">
				<div class="form-group">
					<h4>Your password setup link has expired for security reasons.</h4> 
					<p>Please click <a href="#/resetPassword">here</a> and input your email address and you will receive an email to set up your password.</p> 
					<p>Thank you.</p> 
				</div>
			</div>
	    </div>
	 </div>
</div>