<div class="reset-password-success-screen">
	<div class="panel panel-default">
	    <div class="panel-heading">
	      <div class="logo">
	        <img src="assets/images/logo.png" alt=""/>
	      </div>
	    </div>
	    <div class="panel-body">
			<div class="row">
				<div class="form-group">
					<h4>You should receive an email with a link to reset your password within a few minutes.</h4>
					<h4>After the password has been reset, you can click <a ui-sref="login">here</a> to log in.</h4>
				</div>
			</div>
	    </div>
	 </div>
</div>
