<ul class="sidebar-nav">

    <li dropdown aet-has-any-permission="['VIEW_ADMIN_USER' ,'ADD_ADMIN_USER' ,'DELETE_ADMIN_USER', 'EDIT_ADMIN_USER']">
        <a class="tab admin dropdown-toggle" data-toggle="dropdown" dropdown-toggle>
            <span class="glyphicon glyphicon-cog"></span>
        </a>
        <perfect-scrollbar class="mini-sidebar dropdown-menu">
          <ul >
              <li>
                  Administration
              </li>
              <li aet-is-super-admin>
                  <a aet-nav-tab="Partners" ui-sref="index.secured.partner.search">Partners</a>
              </li>
              <li aet-has-any-permission="['VIEW_ADMIN_USER' ,'ADD_ADMIN_USER' ,'DELETE_ADMIN_USER', 'EDIT_ADMIN_USER']">
                  <a aet-nav-tab="AdminUsers" ui-sref="index.secured.adminUser.search">Admin Users
                  </a>
              </li>
              <li aet-is-super-admin>
                  <a aet-nav-tab="SuperAdmins" ui-sref="index.secured.superAdmin.search">Super Admins
                  </a>
              </li>
              <li aet-has-any-permission="['VIEW_PLACE' ,'ADD_PLACE' ,'DELETE_PLACE', 'EDIT_PLACE']">
                  <a aet-nav-tab="Places" ui-sref="index.secured.places.search">Place
                  </a>
              </li>
          </ul>
        </perfect-scrollbar>
    </li>
 	<li aet-has-permission="VIEW_PARTNER_CONFIG">
        <a aet-nav-tab="PartnerConfigs" class="tab partner-config dropdown-toggle" ng-click="mainTabs[2] = !mainTabs[2]; go(2, mainTabs[2])" ui-sref="index.secured.partnerConfig.search">
            <span class="c-icon c-icon-pp-gray"></span>
        </a>
    </li>
    <li aet-has-permission="LIST_SEARCH_PARTNER_PLACE">
        <a aet-nav-tab="PartnerPlaces" class="tab partner-place dropdown-toggle" ng-click="mainTabs[3] = !mainTabs[3]; go(3, mainTabs[3])" ui-sref="index.secured.partnerPlace.search">
            <span class="c-icon c-icon-pp-gray"></span>
        </a>
    </li>
    <li aet-has-permission="LIST_PARTNER_PROPERTIES">
        <a aet-nav-tab="PartnerProperty" class="tab partner-property dropdown-toggle" ng-click="mainTabs[4] = !mainTabs[4]; go(4, mainTabs[4])" ui-sref="index.secured.partnerProperty.search">
            <span class="c-icon c-icon-pp-gray"></span>
        </a>
    </li>
    <li dropdown aet-has-permission="LIST_PARTNER_BOOKINGS">
    	<a aet-nav-tab="Bookings" class="tab booking dropdown-toggle" data-toggle="dropdown" dropdown-toggle>
    		<span class="c-icon c-icon-pp-gray"></span>
    	</a>
    	<perfect-scrollbar class="mini-sidebar dropdown-menu">
          <ul >
              <li>
                  Bookings
              </li>
              <li aet-has-any-permission="['LIST_PARTNER_BOOKINGS' ,'ADD_ADMIN_USER']">
                  <a aet-nav-tab="AdminUsers" ui-sref="index.secured.booking.search">Search Bookings
                  </a>
              </li>
              <li aet-has-any-permission="['LIST_PARTNER_BOOKINGS' ,'ADD_ADMIN_USER']">
                  <a aet-nav-tab="Places" ui-sref="index.secured.booking.report">Booking Issue Report
                  </a>
              </li>
          </ul>
        </perfect-scrollbar>
    </li>
</ul>
