<h1 class="page-header">
    Create Partner
</h1>

<div class="row partners-landing">
    <div class=" col-sm-9">
        <form class="form-horizontal" name="createPartnerForm" novalidate>

            <div class="form-group has-feedback required" ng-class="{ 'has-success' : createPartnerForm.name.$valid, 'has-error' : createPartnerForm.name.$showError && createPartnerForm.name.$hasError()}">
                <label class="col-sm-3 control-label" for="name">Name</label>

                <div class="col-sm-9">
                    <input aria-describedby="inputSuccess2Status" autocomplete="off" class="form-control" id="name" name="name" ng-maxlength="40" ng-model="partner.name" placeholder="A name to identify the partner ..." required ng-pattern="/^[a-zA-Z0-9 ]*$/" type="text"/>

                    <div class="error" ng-show="createPartnerForm.name.$showError">
                        <p class="text-danger" ng-show="createPartnerForm.name.$error.required">Partner Name is required.</p>
                        <p class="text-danger" ng-show="createPartnerForm.name.$error.maxlength">Partner Name must be 40 characters or less</p>
                        <p class="text-danger" ng-show="createPartnerForm.name.$error.pattern">This doesn't seem to be a valid name, don't use special characters</p>
                    </div>
                </div>
            </div>

            <div class="form-group has-feedback required" ng-class="{ 'has-success' : createPartnerForm.shortName.$valid, 'has-error' : createPartnerForm.shortName.$showError && createPartnerForm.shortName.$hasError()}">
                <label class="col-sm-3 control-label" for="shortName">Short Name</label>

                <div class="col-sm-9">
                    <input autocomplete="off" aria-describedby="inputSuccess2Status" class="form-control" id="shortName"
                        name="shortName" ng-maxlength="5" ng-model="partner.shortName" placeholder="A short name to identify the partner ..."
                        required ng-pattern="/^([a-zA-Z0-9_/-]*)([a-zA-Z]+)([a-zA-Z0-9_/-]*)$/" type="text"/>
                    <div class="error" ng-show="createPartnerForm.shortName.$showError">
                        <p class="text-danger" ng-show="createPartnerForm.shortName.$error.required">Short Name is required.</p>
                        <p class="text-danger" ng-show="createPartnerForm.shortName.$error.maxlength">Short Name must be 5 characters or less</p>
                        <p class="text-danger" ng-show="createPartnerForm.shortName.$error.pattern">This doesn't seem to be a valid short name, use at least one letter and optionally numbers or special characters '/' or '-' or '_'</p>
                    </div>
                </div>
            </div>

            <div class="form-group has-feedback" ng-class="{'has-error' : createPartnerForm.streetAddress1.$showError && createPartnerForm.streetAddress1.$hasError()}">
                <label class="col-sm-3 control-label" for="streetAddress1">Street Address 1
                </label>

                <div class="col-sm-9">
                    <input autocomplete="off" class="form-control" id="streetAddress1" name="streetAddress1" ng-maxlength="255" ng-model="partner.streetAddress1" placeholder="Street Address 1 ..." type="text"/>

                    <div class="error" ng-show="createPartnerForm.streetAddress1.$showError">
                        <p class="text-danger" ng-show="createPartnerForm.streetAddress1.$error.maxlength">Street Address 1 must be 255 characters or less</p>
                    </div>
                </div>
            </div>

            <div class="form-group has-feedback" ng-class="{ 'has-error' : createPartnerForm.streetAddress2.$showError && createPartnerForm.streetAddress2.$hasError()}">
                <label class="col-sm-3 control-label" for="streetAddress2">Street Address 2</label>

                <div class="col-sm-9">
                    <input autocomplete="off" class="form-control" id="streetAddress2" name="streetAddress2" ng-maxlength="255" ng-model="partner.streetAddress2" placeholder="Street Address 2 ..." type="text"/>

                    <div class="error" ng-show="createPartnerForm.streetAddress2.$showError">
                        <p class="text-danger" ng-show="createPartnerForm.streetAddress2.$error.maxlength">Street Address 2 must be 255 characters or less</p>
                    </div>
                </div>
            </div>

            <div class="form-group has-feedback" ng-class="{'has-error' : createPartnerForm.city.$showError && createPartnerForm.city.$hasError()}">
                <label class="col-sm-3 control-label" for="city">City</label>

                <div class="col-sm-9">
                    <input class="form-control" id="city" name="city" ng-maxlength="40" ng-model="partner.city" placeholder="City ..." type="text" />

                    <div class="error" ng-show="createPartnerForm.city.$showError">
                        <p class="text-danger" ng-show="createPartnerForm.city.$error.maxlength">City must be 40 characters or less</p>
                    </div>
                </div>
            </div>

            <div class="form-group has-feedback required" ng-class="{ 'has-success' : createPartnerForm.state.$valid, 'has-error' : createPartnerForm.state.$showError && createPartnerForm.state.$hasError()}">
                <label class="col-sm-3 control-label" for="state">State/Province</label>

                <div class="col-sm-9">
                    <ui-select id="state" name="state" ng-model="partner.state" theme="bootstrap" required>
                        <ui-select-match placeholder="--Select State--">
                            <span ng-bind-html="$select.selected.value"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="state in stateDetails">
                            <span ng-bind-html="state.value"></span>
                        </ui-select-choices>
                    </ui-select>

                    <div class="error" ng-show="createPartnerForm.state.$showError">
                        <p class="text-danger" ng-show="createPartnerForm.state.$error.required">State is required.</p>
                    </div>
                </div>
            </div>

            <div class="form-group has-feedback" ng-class="{'has-error' : createPartnerForm.zipcode.$showError && createPartnerForm.zipcode.$hasError()}">
                <label class="col-sm-3 control-label" for="zipcode">Zip Code</label>

                <div class="col-sm-9">
                    <input class="form-control" id="zipcode" name="zipcode" ng-model="partner.zipCode" placeholder="Zip Code ..." ng-maxlength = "5" ng-pattern="/^[0-9]*$/" type="text"/>

                    <div class="error" ng-show="createPartnerForm.zipcode.$showError">
                        <p class="text-danger" ng-show="createPartnerForm.zipcode.$error.maxlength">Zip Code must be maximum 5 digits</p>
                        <p class="text-danger" ng-show="createPartnerForm.zipcode.$error.pattern">This doesn't seem to be a valid Zip Code, don't use special characters</p>
                    </div>
                </div>
            </div>

            <div class="form-group has-feedback required" ng-class="{ 'has-success' : createPartnerForm.subLevel.$valid, 'has-error' : createPartnerForm.subLevel.$showError && createPartnerForm.subLevel.$hasError()}">
                <label class="col-sm-3 control-label" for="state">Sub Level</label>

                <div class="col-sm-9">
                    <ui-select id="subLevel" name="subLevel" ng-model="partner.subLevel" theme="bootstrap" required>
                        <ui-select-match placeholder="--Select Sub Level--">
                            <span ng-bind-html="$select.selected.value"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="subLevel in subLevels">
                            <span ng-bind-html="subLevel.value"></span>
                        </ui-select-choices>
                    </ui-select>

                    <div class="error" ng-show="createPartnerForm.subLevel.$showError">
                        <p class="text-danger" ng-show="createPartnerForm.subLevel.$error.required">Sub Level is required.</p>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button class="btn btn-primary" ng-click="submitPartnerForm()" ng-disabled="createPartnerForm.$invalid" type="submit">
                        Save
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>
